@charset "utf-8";
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #222;
    font-size:15px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
}

.modal-content {
    width: 600px;
    /* border: 1px solid blue; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.modal-content > div {
    padding: 20px;
}

.photo {
    flex: 1;
    /*border: 1px solid red;*/
    background:url("/images/office.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.desc {
    flex: 2;
    text-align: center;
    /*border: 1px solid green;*/
}

.modal.active {
    opacity: 1;
}

.overlay.active {
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
}

.btn-close {
    position:absolute;
    top:10px;
    right:10px;
    background-color: transparent;
    border:none;
    font-size: 18px;
    color:#999;
    cursor: pointer;
}

.desc .desc-content input[type='email']
, .desc .desc-content button
{
    display: block;
    width: 100%;
    text-align: center;
    padding:7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.desc-content button {
    background-color: crimson;
    color:#fff;
}

.desc .desc-content input[type='email']:focus::placeholder {
    visibility: hidden;
}