*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*table, tbody, tr {*/
/*    border-collapse: collapse;*/
/*    border: 1px solid black;*/
/*}*/

table {
    width: 70%;
}

.container {
    padding-left: 10px;
    width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
}

.reserve-wrap {
    display: flex;
    /*align-items: center;*/
    justify-content: center;

}

td .row {
    border-collapse: collapse;
    border: 1px solid black;
}

td .column {
    border: 0;
}

.reserve-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.reserve-movie{
    /*display:flex;*/
    width:70%;
    border-top:2px solid lightgray;
    /*justify-content: center;*/
}

.column {
    width: 40px;
    height: 40px;
    border: 0;
    text-align: left;
}
.row {
    text-align: center;
    width: 40px;
    height: 40px;
}

.info {
    display: flex;
}

.btn {
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;
    color: #333;
}

.reserve-seat {
    width: 30%;
    background-color: darkgray;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;

}

.info-wrap {
    display: flex;
    justify-content: space-between;
}

.row{
    background-color: gray;
    color:white;
    border: 1px solid aqua;
    width: 20px;
}

.disable-row {
    background-color: lightgray;
    color:white;
    border: 1px solid aqua;
    width: 20px;
}

input {
    width: 30px;
    text-align: center;
}

.minus .btn {
    background-color: dodgerblue;
}

.plus .btn {
    background-color: dodgerblue;
}

.seat-table {
    display: flex;
    justify-content: center;
}

.screen {
    text-align: center;
}

.selected-seat {
    background-color: blue;
}

.selected-seat-right {
    border: 1px solid white;
}

.selected{
    border: 1px solid black;
}
.seat-list {
    display: flex;
    height: 50%;
    width: 100%;
}

.reserve-info-right{
    display: flex;

}
.selected-wrap-info {
    padding: 10px;
}

.selected-wrap {
    padding : 2px;
}

.hover:hover {
    background-color: cornflowerblue;
}

.selected-wrap {
    display: flex;
}

.selected3 {
    background-color: lightgray;
    color: white;
    text-align: center;
    width:15px;
    height:15px;
}
.selected4 {
    background-color: lightgray;
    width:15px;
    height:15px;
}
.selected5 {
    background-color: darkslategray;
    width:15px;
    height:15px;
}
.selected6 {
    background-color: darkgreen;
    width:15px;
    height:15px;
}
.selected2 {
    background-color: cornflowerblue;
    width:15px;
    height:15px;
}

.selected-wrap-seat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reserve-info-right, #selected-list {
    border: 1px solid black;
    width: 50%;
    height: 70%;
    font-size:13px;
}

.selected-seat-right {
    width: 50px;
    text-align: center;
    padding: 5px;
}
.price-div{
    display: flex;
    justify-content: space-between;
}